<section class="w-[20%] border-r shadow-md h-full">
    <div class="flex flex-col h-full magic2 text-white">
        <div class="text-center text-8xl text-white p-10">
            <i class="fa-solid fa-user-gear"></i>
        </div>
        
            <nav>
                <ul>
                    <li class="border border-blue-800 text-center text-xl font-bold py-3">
                        <a href="/tour/bookings">
                            View Bookings
                        </a>
                    </li>
                    <li class="border border-blue-800 text-center text-xl font-bold py-3">
                        <a href="/tour/programs">
                            Make Bookings
                        </a>
                    </li>
                    <!-- <li class="border text-center text-xl font-bold py-3">
                        <a href="/staff/vouchers">
                            Vouchers
                        </a>
                    </li> -->
                    <li class="border border-blue-800 text-center text-xl font-bold py-3">
                        <a href="/tour-vouchers">
                            Vouchers
                        </a>
                    </li>
                    <li class=" text-center text-xl font-bold py-3 bg-red-600 text-white hover:bg-red-500">
                        <a href="/user/logout" class="flex items-center gap-3 justify-center">
                            <i class="fa-solid fa-power-off"></i>
                            <p>Logout</p>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="magic2 flex justify-center items-center flex-auto relative">
                <img src="https://www.dolphincoveja.com/Content/src/logo.png" alt="">
                <!-- <div class="px-3 absolute bottom-0 text-2xl bg-red-500 text-white rounded-full m-3 right-5">
                    <a href="" class="flex gap-1 p-2 items-center">
                        <i class="fa-solid fa-power-off"></i> <p>Logout</p>
                    </a>
                </div> -->
            </div>
    </div>
</section>

<style>
    .magic2{
        background-image: radial-gradient(circle at 67% 83%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 1%,transparent 1%, transparent 5%,transparent 5%, transparent 100%),radial-gradient(circle at 24% 80%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 27%,transparent 27%, transparent 63%,transparent 63%, transparent 100%),radial-gradient(circle at 23% 5%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 26%,transparent 26%, transparent 82%,transparent 82%, transparent 100%),radial-gradient(circle at 21% 11%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 35%,transparent 35%, transparent 45%,transparent 45%, transparent 100%),radial-gradient(circle at 10% 11%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 21%,transparent 21%, transparent 81%,transparent 81%, transparent 100%),radial-gradient(circle at 19% 61%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 20%,transparent 20%, transparent 61%,transparent 61%, transparent 100%),radial-gradient(circle at 13% 77%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 63%,transparent 63%, transparent 72%,transparent 72%, transparent 100%),radial-gradient(circle at 30% 93%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 33%,transparent 33%, transparent 82%,transparent 82%, transparent 100%),linear-gradient(90deg, rgb(22, 176, 207),rgb(103, 7, 215));
}
</style>