<section>
    <footer class="bg-cyan-500 py-10">
        <nav class="text-white w-[80%] m-auto flex justify-between">
            <ul class="w-[30%] font-medium">
                <li class="py-2 border-b">
                    <a href="">
                        Information
                    </a>
                </li>
                <li class="py-2 border-b">
                    <a href="">
                        News
                    </a>
                </li>
                <li class="py-2 border-b">
                    <a href="">
                        About Us
                    </a>
                </li>
                <li class="py-2 border-b">
                    <a href="">
                        Investor Relations
                    </a>
                </li>
                <li class="py-2 border-b">
                    <a href="">
                        Privacy Policy
                    </a>
                </li>
                <li class="py-2 border-b">
                    <a href="">
                        Terms and Conditions
                    </a>
                </li>
            </ul>

            <ul class="w-[30%]">
                <li class="py-2 uppercase text-xl">
                    Contact Us
                </li>
                <li class="py-2 text-3xl">
                    1-877-344-3385
                </li>
                <li class="pt-10">
                    <img src="https://www.dolphincoveja.com/Content/src/logo.png" alt=""> 
                </li>
            </ul>
        </nav>
    </footer>
    <div class="text-center text-white font-bold text-xl bg-green-600 py-5">
        <a href="">
            www.dolphincoveja.com
        </a>
    </div>
</section>