<section class="shadow-md border-b">
    <nav class="w-[80%] m-auto">
        <div class="flex justify-center p-5">
            <a href="/">
                <img src="https://www.dolphincoveja.com/Content/src/logo.png" alt="">
            </a>
        </div>

        <ul class="font-bold text-xl flex justify-between pb-5">
            <li>
                <a href="" class="hover:border-b-4 border-b-cyan-600 hover:text-cyan-600">
                    Parks
                </a>
            </li>
            <li>
                <a href="" class="hover:border-b-4 border-b-cyan-600 hover:text-cyan-600">
                    Information
                </a>
            </li>
            <li>
                <a href="" class="hover:border-b-4 border-b-cyan-600 hover:text-cyan-600">
                    News
                </a>
            </li>
            <li>
                <a href="/program-list" class="hover:border-b-4 border-b-cyan-600 hover:text-cyan-600">
                    Programs
                </a>
            </li>
        
            <li>
                <a href="/officials" class=" hover:bg-cyan-400 bg-cyan-600 rounded-full text-white py-2 px-5">
                    Officials
                </a>
            </li>
        </ul>
    </nav>
</section>