<section class="w-[20%] border-r shadow-md h-full">
    <div class="flex flex-col h-full">
        <div class="text-center text-8xl text-cyan-600 p-10">
            <i class="fa-solid fa-user-gear"></i>
        </div>
        
            <nav>
                <ul>
                    <li class="border text-center text-xl font-bold py-3">
                        <a href="/staff/bookings">
                            View Bookings
                        </a>
                    </li>
                    <li class="border text-center text-xl font-bold py-3">
                        <a href="/staff/programs">
                            Make Bookings
                        </a>
                    </li>
                    <!-- <li class="border text-center text-xl font-bold py-3">
                        <a href="/staff/vouchers">
                            Vouchers
                        </a>
                    </li> -->
                    <li class="border text-center text-xl font-bold py-3">
                        <a href="/tour-companies">
                            Tour Companies
                        </a>
                    </li>
                    <li class="border text-center text-xl font-bold py-3">
                        <a href="/accounts">
                            Payments
                        </a>
                    </li>
                    <li class=" text-center text-xl font-bold py-3 bg-red-600 text-white hover:bg-red-500">
                        <a href="/user/logout" class="flex items-center gap-3 justify-center">
                            <i class="fa-solid fa-power-off"></i>
                            <p>Logout</p>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="magic flex justify-center items-center flex-auto relative">
                <img src="https://www.dolphincoveja.com/Content/src/logo.png" alt="">
                <!-- <div class="px-3 absolute bottom-0 text-2xl bg-red-500 text-white rounded-full m-3 right-5">
                    <a href="" class="flex gap-1 p-2 items-center">
                        <i class="fa-solid fa-power-off"></i> <p>Logout</p>
                    </a>
                </div> -->
            </div>
    </div>
</section>
