<section class="w-[80%] m-auto mt-20">
    <div>
        <a href="/tour-companies" class="py-2 text-blue-500 underline text-xl">see company list</a>
        <!-- <a href="<%#'/tour-companies'.split('add')[1] %>" class="py-2 text-blue-500 underline text-xl">see company list</a> -->
    </div>
    <div class="text-center text-cyan-600">
        <h1 class="text-5xl font-bold uppercase mt-20 p-5 border-b-4 border-b-yellow-500">Company Added</h1>
        <div class="py-5 text-3xl flex gap-5">
            <i class="fa-solid fa-building"></i>
            <p>
                <%=company.company_nm %>
            </p>
        </div>
    </div>
</section>